<div class="hero is-fullheight">
  <div class="hero-body">
      <div class="columns">
        <div class="column">
          <h1>Coming Soon</h1>
          <p>The Mindful Café and Learning Center fosters a holistic atmosphere for optimal growth and development.</p>
          <h3>Join Our Mailing List</h3>
          <form name="newsletter" method="POST" netlify>
            <div class="field">
              <div class="control">
                <input class="input small-width" type="email" name="email" placeholder="Email address">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-link">Sign Up</button>
              </div>
            </div>
          </form>
        </div>
        <div class="column">
          <h2>Contact Us</h2>
          <p><strong>Email Us: </strong><a href="mailto:info@themindfulcafe.org"> info@themindfulcafe.org</a></p>
          <p><strong>Call Us: </strong><a href="tel:917-882-5442"> (917) 882-5442</a></p>
          <p><strong>Location: </strong> 183 E. Main Street, Ramsey, NJ. 07446</p>

        </div>
      </div>
  </div>
</div>
<div id="now-hiring" class="now-hiring">
<div class="columns">
  <div class="column">
    <h2>Now Hiring Tutors and Cafe positions!</h2>
    <p>
      We are seeking Tutors for Math, Science, English, Foreign Language and SAT/ACT.
      We will offer both private, semi-private and homework club tutoring for high school and college level students.
      ‍</br></br>
      We are also running workshops that will include: yoga, meditation, art, music and nutrition for all ages.
      Seeking qualified candidates interested in tutoring or running a workshop - please apply.
      </br></br>
      We are seeking Baristas, counter help, cashiers for multiple shifts. Prefer some experience.
      $10 per hour plus tips. Fill out the form below to apply:
    </p>
  </div>
  <div class="column">
    <form name="careers" method="POST" netlify>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" name="name" placeholder="Full name">
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" name="email" placeholder="Email address">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Subject</label>
        <div class="control">
          <div class="select">
            <select name="career[]">
              <option>Select one..</option>
              <option>Cafe Position</option>
              <option>Tutor Position</option>
              <option>Host a Workshop</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" name="message" placeholder="Your message"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link">Send</button>
        </div>
      </form>
  </div>
</div>
</div>
