@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
  background:#2a2a2a;
}

/* Typography */

h1,h2,h3,h4,h5, label {
    font-family: 'Ubuntu', sans-serif;
    color:#fff;
}

h1 {
  font-size:5rem;
}

h2 {
  font-size: 3rem;
  margin:1rem 0;
}

h3 {
  font-size:1.5rem;
  margin:1rem 0;
}

p, strong, a {
  font-family: OpenSans,sans-serif;
  color:#fff;
  line-height: 1.75rem;
}

a:hover {
  color:#3273dc;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
}

.tiny {
  font-size:10px;
  color:#4a4a4a;
}

/* General */
.button {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1.5px;
}

.is-primary {
  background:#3273dc;
}

/* Nav */
@media screen and (max-width: 1024px) {
  .navbar-menu .navbar-start .navbar-item, .navbar-menu .navbar-end .navbar-item {
    padding: 10px 0;
  }
}

.navbar, .navbar-menu{
  background: #fff;
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.navbar-menu {
  text-align: center;
  -webkit-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

.navbar-item, .navbar-link {
  color: #3273dc;
  font-family: OpenSans,sans-serif;
  text-transform: uppercase;
  letter-spacing: .075em;
  height: 100%;
  max-height: 3.7em;
}

a.navbar-item:hover {
    color: #276cda;
    background:#fff;
    -webkit-transition: height .2s ease-in-out;
    -o-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
}

.navbar-brand, .navbar-tabs {
    align-items: center;
}

.navbar-burger {
  color:#3273dc;
}

@media screen and (min-width: 1025px) {

.navbar {
  padding:0 2em;
}

  a.navbar-item::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
  }

  a.navbar-item:hover::before {
    background:#3273dc;
    height:5px;
  }
}

/* Home */
.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
      ),
      url("/img/home-bg.jpeg");
      margin-bottom:0;
  background-size:cover;
}

.hero-body {
  justify-content: center;
}

.about {
  max-width: 800px;
  text-align: justify;
}
@media screen and (min-width: 800px) {
  .about {
    padding-right:3rem;
  }
}
.small-width {
  max-width: 300px;
}

.now-hiring {
  min-height:100vh;
  padding: 1.5rem calc(50vw - 700px);
  align-items: center;
  display: flex;
  justify-content: space-between;
  color:#000;
  background:#fff;
}

.now-hiring h2, .now-hiring p {
  color:#000;
}

.now-hiring .columns{
  margin: 0 auto;
}

.now-hiring .column{
  margin: 0 auto;
  padding:1rem 3rem;
}

/* Footer */
.footer {
  padding: 1rem 1.5rem 1rem;
  background:#f2f2f2;
}
